.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: none;
  opacity: 1;
  transition: all 0.3s;
}

.btn[disabled] {
  opacity: 0;
}

.btn:hover,
.btn:focus {
  // We don't need the blue focus outline, since we will be defining our own focus
  outline: none;
}

/*--------------------------------------------------------
---------------------ICON-ONLY BUTTONS--------------------
--------------------------------------------------------*/

.btn--icon {
  width: 8rem;
  height: 8rem;
  margin: margin(XS) margin(XL);

  &__icon {
    width: 100%;
    height: 100%;

    // Inherit the color from .btn--icon since we want the icons and text to have the same color
    fill: currentColor;
  }

  &::before {
    position: absolute;
    right: 100%;
    display: inline-block;

    padding: padding(XS) padding(M);
    background-color: color(white);
    border-radius: $radius-subtle;
    box-shadow: $shadow-down-subtle;
    // Inherit the color from .btn--icon since we want the icons and text to have the same color
    color: currentColor;

    content: attr(data-tool-tip);
    font-size: 2rem;
    opacity: 0;
    // This property makes it so the button isn't still hovered 
    // while hovering over the before pseudo-element.
    pointer-events: none; 
    // Don't define transition for color, since right now color
    // goes off computed color. This means that the text will 'flash'
    // colors if we enable transition for that property.
    transition: background-color 0.3s, opacity 0.3s, right 0.3s, visibility 0.3s;
    visibility: hidden;
    white-space: nowrap;
  }
}

.btn--icon:hover,
.btn--icon[data-focus-visible-added] {

  &::before {
    right: 110%;
    opacity: 1;
    visibility: visible;
  }
}

//---------------SPECIFIC ICON ONLY BUTTONS----------------------

.btn--icon.clear-all {
  color: color(secondary);

  &:hover,
  &[data-focus-visible-added] {
    // Invert the color scheme of button
    background-color: color(secondary);
    color: color(white);
    transform: $scale-subtle;

    &::before {
      background-color: color(secondary);
    }
  }
}

.btn--icon.play,
.btn--icon.play-auto {
  color: color(primary);

  &:hover,
  &[data-focus-visible-added] {
    // Invert the color scheme of button
    background-color: color(primary);
    color: color(white);
    transform: $scale-subtle;

    &::before {
      background-color: color(primary);
    }
  }
}

.btn--icon.edit-canvas, {
  color: color(tertiary);

  &:hover,
  &[data-focus-visible-added] {
    // Invert the color scheme of button
    background-color: color(tertiary);
    color: color(white);
    transform: $scale-subtle;

    &::before {
      background-color: color(tertiary);
    }
  }
}
