.btn {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;

  background: none;
  opacity: 1;
  // Fixes weird empty space below bottom-most button on Chrome
  overflow-y: hidden;
  transition: all 0.3s;
}

.btn[disabled] {
  opacity: 0.1;
  pointer-events: none;
}

.btn:hover,
.btn:focus {
  // We don't need the blue focus outline, since we will be defining our own focus
  outline: none;
}

/*--------------------------------------------------------
---------------------ICON-ONLY BUTTONS--------------------
--------------------------------------------------------*/

.btn--icon {
  display: flex;
  width: 100%; 
  align-items: center;
  justify-content: center;

  @include bp(small) {
    width: 50%;
    min-height: 50%;
  }

  &__icon {
    height: 5rem;

    // Inherit the color from .btn--icon since we want the icons and text to have the same color
    fill: currentColor;
    transition: all 0.3s;
  }

  &::before {
    position: absolute;
    left: 30%;
    display: inline-block;
    width: 3rem;

    // Inherit the color from .btn--icon since we want the icons and text to have the same color
    color: currentColor;
    content: attr(data-tool-tip);
    font-size: 2.5rem;
    opacity: 0;
    transition: all 0.3s;
    visibility: hidden;
  }
}

.btn--icon:hover,
.btn--icon[data-focus-visible-added] {
  width: 110%;
  // Balance out extra width and prevent horizontal overflow
  margin-left: -10%;
  border-bottom-left-radius: $radius-subtle;
  border-top-left-radius: $radius-subtle;

  @include bp(small) {
    width: 50%;
    margin-left: 0%;
    border-radius: 0;
  }

  .btn--icon__icon {
    opacity: 0.3;
  }

  &::before {
    left: 20%;
    opacity: 1;
    visibility: visible;
  }
}

//---------------SPECIFIC ICON ONLY BUTTONS----------------------

.btn--icon.clear-all { @include button-color-scheme(color(secondary)) }

.btn--icon.play { @include button-color-scheme(color(primary)) }

.btn--icon.play-auto { @include button-color-scheme(darken(color(primary), 10%)) }

.btn--icon.spawn-points { @include button-color-scheme(color(tertiary)) }

.btn--icon.next-step { 
  @include button-color-scheme(color(primary)) 
  @include bp(small) {
    height: 100%;
  }
}

.btn--icon.switch-mode { 
  @include button-color-scheme(color(tertiary)) 
  @include bp(small) {
    height: 100%;
  }
}
