.driver {
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: flex;
  width: 50%;
  height: 10%;
  align-items: center;
  justify-content: space-around;

  border: 4px solid color(primary);
  background: color(white);
  border-radius: $radius-subtle;
  box-shadow: $shadow-down;
  opacity: 0.8;
  transition: all 0.3s;

  &.error {
    border: 4px solid color(secondary);
  }

  &__text {
    padding: padding(L);
    font-size: 2rem;
  }
}