.driver {
  position: relative;
  display: flex;
  // When changing this width, be sure to change the height in
  // _stage.scss as well.
  width: 25%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: color(white);
  box-shadow: shadow(left);
  opacity: 0.8;
  transition: all 0.3s;

  @include bp(small) {
    width: 100%;
    height: 40%;
  }
}

.driver__text {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: center;
  padding: padding(L);

  border-left: 4px solid color(primary);
  color: color(black);
  font-size: 2.5rem;
  line-height: 3.5rem;
  transition: border-left 0.3s;

  @include bp(small) {
    border-top: 4px solid color(primary);
    border-left: none;
  }

  &.error {
    border-left: 4px solid color(secondary);

    @include bp(small) {
      border-top: 4px solid color(secondary);
      border-left: none;
    }
  }
}