.ReactModal__Overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal {
  position: absolute;
  top: 4rem;
  right: 4rem;
  bottom: 4rem;
  left: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;

  background: color(white);
  -webkit-border-radius: $radius-subtle;
          border-radius: $radius-subtle;
  -webkit-box-shadow: shadow(down);
          box-shadow: shadow(down);

  @include bp(large) {
    top: 8rem;
    bottom: 8rem;
  }
  
  @include bp(medium) {
    right: 6rem;
    left: 6rem;
  }

  @include bp(small) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.modal-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;

  @include bp(medium) {
    width: 90%;
    height: 95%;
  }

  @include bp(verySmall) {
    width: 100%;
    height: auto;
  }
}

.modal-heading {
  margin: margin(S) 0;
  font-size: 3rem;
}

.modal-text {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.modal-icon {
  display: block;
  height: 11rem;
  margin: 2rem auto 0 auto;

  @include bp(small) {
    width: 35rem;
    height: 10rem;
    margin: 1rem auto 0 auto;
  }
}

.modal-misc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

  @include bp(small) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.modal-link[data-focus-visible-added] {
  outline: none;
}

.modal-link {
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: color(primary);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-link:hover,
.modal-link:active,
.modal-link[data-focus-visible-added] {
  border-bottom: 2px solid darken(color(primary), 10%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: darken(color(primary), 10%);
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.modal-list__item:not(:last-child) {
  margin-bottom: 0.75rem;
  @include bp(small) {
    margin-bottom: 0.5rem;
  }
}