.stage {
  position: relative;
  // When changing this width, be sure to change the height in
  // _driver.scss as well.
  width: 75%;
  height: 100%;

  @include bp(small) {
    width: 100%;
    height: 60%;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;

    color: color(black);
    font-size: 2rem;
    opacity: .75;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.15s;
    white-space: nowrap;
    
    @include bp(small) {
      font-size: 2.3rem;
    }
  }
}