.stage {
  position: relative;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  &__btn-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: padding(L);
  }
}