.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: none;
  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  // We don't need the blue focus outline, since we will be defining our own focus
  outline: none;
}

.btn:hover,
.btn[data-focus-visible-added] {
  transform: $scale-subtle;
}

/*--------------------------------------------------------
---------------------TEXT-ONLY BUTTONS--------------------
--------------------------------------------------------*/

.btn--text {
  padding: padding(XS) padding(M);

  border: 2px solid currentColor;
  background: darken(color(white), 2%);
  border-radius: $radius-subtle;
  box-shadow: $shadow-down-subtle;
  color: lighten(color(primary-green), 10%);
  font-size: 2rem;
}

.btn--text:hover {
  box-shadow: $shadow-down;
}

/*--------------------------------------------------------
---------------------ICON-ONLY BUTTONS--------------------
--------------------------------------------------------*/

.btn--icon {
  width: 5rem;
  height: 5rem;

  &__icon {
    width: 100%;
    height: 100%;

    // Inherit the color from .btn--icon since we want the icons and text to have the same color
    fill: currentColor;
  }

  &::before {
    position: absolute;
    right: 100%;
    display: inline-block;

    padding: padding(XXS) padding(XS);
    background-color: color(white);
    border-radius: $radius-subtle;
    box-shadow: $shadow-down-subtle;
    // Inherit the color from .btn--icon since we want the icons and text to have the same color
    color: currentColor;

    content: attr(data-tool-tip);
    font-size: 1.5rem;
    opacity: 0;
    // This property makes it so the button isn't still hovered 
    // while hovering over the before pseudo-element.
    pointer-events: none; 
    transition: all 0.3s;
    visibility: hidden;
    white-space: nowrap;
  }
}

.btn--icon:hover,
.btn--icon[data-focus-visible-added] {
  &::before {
    right: 110%;
    opacity: 1;
    visibility: visible;
  }
}

//---------------SPECIFIC ICON ONLY BUTTONS----------------------

.btn--icon.clear-all {
  position: absolute;
  top: 5%;
  right: 5%;

  color: color(primary-red);
}