@mixin button-color-scheme($main-color) {
  background-color: $main-color;
  color: color(white);

  &:hover,
  &[data-focus-visible-added] {

    &::before {
      background-color: $main-color;
    }
  }
}

@mixin bp($breakpoint) {
  @media only screen and (max-width: em(breakpoint($breakpoint))) {@content}
}