*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background: color(white);
  font-size: 62.5%;
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}