*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;

  background-image: url(img/vintage-leaves.jpg);
  font-size: 62.5%;

  @include bp(large) { font-size: 50% }
  @include bp(medium) { font-size: 40% }
  // @media only screen and (max-width: 1200px) { font-size: 25% }
}

body {
  height: 100%;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

#app {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: end;

  @include bp(small) { flex-direction: column }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}