// SASS variables will be used instead of CSS variables for this application. We
// do this as CSS colors conflict with inbuilt SASS color functions, along with the 
// fact that we don't need the ability to programatically change the theme or 
// reassign variables with a cascade 

/*------------------------------------------------------------------
  POSITION
  ------------------------------------------------------------------*/

  $stackingLevels: (
    bottom-most: -100,
    bottom: -10,
    top: 10,
    top-most: 100,
  );
  
  /*------------------------------------------------------------------
    LAYOUT
    ------------------------------------------------------------------*/
  
  // Defined in multiples of a base value. Say base value = 0.5rem.
  // EX: margin(XXS) = 1 * 0.5rem = 0.5rem
  // EX: margin(M) = 4 * 0.5rem = 2rem
  //
  // NOTE: Actual base value is seen in _functions.scss
  $marginSizes: (
    XXS: 1,
    XS: 2,
    S: 3,
    M: 4,
    L: 5,
    XL: 6,
    XXL: 7,
  );
  
  // Defined in multiples of a base value. Say base value = 0.5rem.
  // EX: padding(XXS) = 1 * 0.5rem = 0.5rem
  // EX: padding(M) = 4 * 0.5rem = 2rem
  //
  // NOTE: Actual base value is seen in _functions.scss
  $paddingSizes: (
    XXS: 1,
    XS: 2,
    S: 3,
    M: 4,
    L: 5,
    XL: 6,
    XXL: 7,
  );
  
  /*------------------------------------------------------------------
    DECORATIONS
    ------------------------------------------------------------------*/
  
  $colors: (
    primary-red: #FF6F59,
    primary-green: #23CE6B,
    white: #FBFEF9,
    black: #272D2D,
  );
  
  $borderRadius: 5px;
  